
.form-select{
    width: 100%;
    padding: 0;

}

.card{

    width: 200px;
    height: 20px;

}



.menuCard{
    text-align: center;
}

.carta{
    /* top:700px; */
    /* position: absolute; */
}